<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.unixono.leaflet"
	version 	= "1.0.0">

	<name>Leaflet PhoneGap Demo</name>

	<description>
		Offline tile serving inside Leaflet. Leaflet in Phonegap test.
	</description>

	<author href="http://nicopace.github.com"
		email="nicolas.pace@unixono.com.ar">
		Nicolas Pace
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
